<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <script src="/~duncjo01/assets/scripts/border.js"></script>
        <link rel="icon" href="/~duncjo01/favicon.ico">
        <link rel="stylesheet" href="/~duncjo01/assets/styles/style.css">
    </head>
    <body class="content">
	<center> <h1></h1> <hr /> </center> <p></p>
	<div id="footer">
	    <hr>
	    <a href="../about.html">about</a> <BR>
	    You are visitor number <a href="https://stuff.mit.edu/doc/counter-howto.html"><img src="http://www.mit.edu/cgi/counter/jduncan" style="vertical-align:middle"></a> <BR>
	    <i> <a href="mailto:duncanjdiii@gmail.com?Subject=I would like to speak to your manager">  © 2016 John D. Duncan, III <br> <img src="/~duncjo01/assets/images/mail.gif"></a> <BR> </i>
            <a href="http://vanilla-js.com/"> <img src="http://vanilla-js.com/assets/button.png"></a>
            <br>
            <a href="https://www.anybrowser.org/campaign/index.html"> <img id="anyBrowser"></a>
	</div>
        <script src="/~duncjo01/assets/scripts/anybrowser.js"></script>
    </body>
</html>

