/* applies to GIF and PNG images; avoids blurry edges */
img, BODY, #border {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    image-rendering: crisp-edges;
}
@font-face{
    	font-family: 'eWorldTight_18';
	/*src: url('eWorldTight_18.ttf') format('truetype');*/
	src: url('eWorldTight_18.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body { /* site-wide custom cursor */
    /*margin: 0 !important;*/
    cursor: url(../images/cursors/cursor.png), default;
}
a:link:active, a:link:active > img{
     cursor: url(../images/cursors/pointer_active.png), pointer;
}
a:link, a:link > img{ /* only match links and links with images */
     cursor: url(../images/cursors/pointer.png), pointer;
}
img { /* when an image is not a link, ensure it is a standard cursor*/
   cursor: url(../images/cursors/cursor.png), default;
}
/* text I-bar cursor where necessary */
input, p, blockquote, h1, h2, h3, h4, h5, h6, td, dt, dd, li, date {
    cursor: url(../images/cursors/text.png), text;
}
