html {
    background-attachment: fixed !important;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    cursor: url(../images/cursors/pointer.png), default;
    margin: 0 auto;
    text-align: center;
}
body {
    position: relative;
    /*background-image: url(data:image/gif;base64,R0lGODdhAwADAIACAPn5+f39/SwAAAAAAwADAAACA0RuWAA7) !important;*/
    background-image: url(data:image/gif;base64,R0lGODdhAwADAIABAPv7+////ywAAAAAAwADAAACA0RuWAA7);
    background-color: transparent ;
    background-repeat: repeat;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /*border: 1px solid black;*/
    border: double black 3px;
    box-shadow:	 0 0 0 3px white, 0 0 0 4px black;
    display: inline-block;
    cursor: url(../images/cursors/cursor.png), default;
    text-align: left;
}

a:link:active, a:link:active > img{ cursor: url(../images/cursors/pointer_active.png), pointer; }
a:link, a:link > img{ /* only match links and links with images */ cursor: url(../images/cursors/pointer.png), pointer; }
img { /* when an image is not a link, ensure it is a standard cursor*/ cursor: url(../images/cursors/cursor.png), default; }
/* text I-bar cursor where necessary */
input, p, blockquote, h1, h2, h3, h4, h5, h6, td, dt, dd, li, date { cursor: url(../images/cursors/text.png), text; }

/*@font-face{
	font-family: 'eWorldTight_18';
	src: url('eWorldTight_18.ttf') format('truetype');
	src: url('eWorldTight_18.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}*/

::selection {
    background: blue; /* WebKit/Blink Browsers */
    color: white;
}
::-moz-selection {
    background: blue; /* Gecko Browsers */
    color: white;
}

img{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:target {
    border: 1px dotted black;
}

h1 {
    display:table;
    border-bottom: 1px dotted black;
}

hr {
    border:1px dotted black;
}

blockquote {
    border: 1px solid; margin: auto; padding: 1em; background: lime;
    max-width: 32em;
}

table, th, td { /* add border to table and table elements */
    border: 1px solid black;
}
table { /* center table on page */
    margin: 0 auto;
}

pre, code {
    margin-left: 4em;
    margin-right: 4em;
    /* font-family: 'Inconsolata', monospace; */
}

aside {
    border: 1px solid; margin: auto; padding: 1em; background: Yellow;
    max-width: 32em;
}

cite {
    text-align:right;
}

ul {
    list-style-image: url("../images/about/bullet.gif");
}

ul ul {
    list-style-image: url("../images/about/genechip.gif");
}

ul ul ul{
    list-style-image: url("../images/about/gem.gif");
}

ul ul ul ul {
    list-style-image: url("../images/about/bullet_s.gif");
}

ul ul ul ul ul {
    list-style-image: url("../images/about/bullet_ss.gif");
}

ul ul ul ul ul ul {
    list-style-image: url("../images/about/bullet_sss.gif");
}

ul ul ul ul ul ul ul {
    list-style-image: url("../images/about/bullet_ssss.gif");
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: upper-roman;
}

.content { /* for written pieces */
    padding-left: 50px;
    padding-right: 50px;
}

#footer{
    text-align: center;
    bottom: 5px;
    width:100%;
    z-index:0;
    padding-bottom: 5px;
}

@media only screen and (min-width:700px) {
    html {
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
    }
}

@media only screen and (max-width:700px) {
    html {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left:2pt;
	padding-right:2pt;
    }
    .content {
	padding-right: 15px;
	padding-left: 15px;
    }
}
