html {
    background-attachment: fixed !important;
    image-rendering: optimizeSpeed;		/* STOP SMOOTHING, GIVE ME SPEED */
    image-rendering: -moz-crisp-edges;		/* Firefox*/
    image-rendering: -o-crisp-edges;		/* Opera */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;		/* CSS3 Proposed */
    -ms-interpolation-mode: nearest-neighbor;	/* IE8+ */
    image-rendering: crisp-edges;
    cursor: url(../images/cursors/pointer.png), default;
    margin: 0 auto;
}
body {
    position: relative;
    /*background-image: url(data:image/gif;base64,R0lGODdhAwADAIACAPn5+f39/SwAAAAAAwADAAACA0RuWAA7) !important;*/
    background-image: url(data:image/gif;base64,R0lGODdhAwADAIABAPv7+////ywAAAAAAwADAAACA0RuWAA7);
    background-color: transparent ;
    background-repeat: repeat;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /*border: 1px solid black;*/
    border: double black 3px;
    box-shadow:	 0 0 0 3px white, 0 0 0 4px black;
    display: inline-block;
    cursor: url(../images/cursors/cursor.png), default;
}

a:link:active, a:link:active > img{ cursor: url(../images/cursors/pointer_active.png), pointer; }
a:link, a:link > img{ /* only match links and links with images */ cursor: url(../images/cursors/pointer.png), pointer; }
img { /* when an image is not a link, ensure it is a standard cursor*/ cursor: url(../images/cursors/cursor.png), default; }
/* text I-bar cursor where necessary */
input, p, blockquote, h1, h2, h3, h4, h5, h6, td, dt, dd, li, date { cursor: url(../images/cursors/text.png), text; }

/*@font-face{
	font-family: 'eWorldTight_18';
	src: url('eWorldTight_18.ttf') format('truetype');
	src: url('eWorldTight_18.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}*/

::selection {
    background: AliceBlue; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: AliceBlue; /* Gecko Browsers */
}

img{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:target {
    border: 1px dotted black;
}

h1 {
    display:table;
    border-bottom: 1px dotted black;
}

hr {
    border:1px dotted black;
}

blockquote {
    border: 1px solid; margin: auto; padding: 1em; background: lime;
    max-width: 32em;
}

table, th, td { /* add border to table and table elements */
    border: 1px solid black;
}
table { /* center table on page */
    margin: 0 auto;
}

pre, code {
    margin-left: 4em;
    margin-right: 4em;
    /* font-family: 'Inconsolata', monospace; */
}

aside {
    border: 1px solid; margin: auto; padding: 1em; background: Yellow;
    max-width: 32em;
}

cite {
    text-align:right;
}

ul {
    list-style-image: url("../images/about/bullet.gif");
}

ul ul {
    list-style-image: url("../images/about/genechip.gif");
}

ul ul ul{
    list-style-image: url("../images/about/gem.gif");
}

ul ul ul ul {
    list-style-image: url("../images/about/bullet_s.gif");
}

ul ul ul ul ul {
    list-style-image: url("../images/about/bullet_ss.gif");
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: upper-roman;
}

.content { /* for written pieces */
    padding-left: 50px;
    padding-right: 50px;
}

#footer{
    text-align: center;
    bottom: 5px;
    width:100%;
    z-index:0;
    padding-bottom: 5px;
}

.graph {
    position: relative;
    height: 50px;
    border: 1px solid #aeaeae;
    background-color: #fbfbfb;
    border-bottom: none;
    background-image: url(data:image/gif;base64,R0lGODlhAQAKAKECAO3t7f///zRTXTRTXSH5BAEKAAIALAAAAAABAAoAAAIEhB2ZBQA7);
}

.baseline {
    position: absolute;
    bottom: 0;
    right: 0;
}
.baselineLeft {
    left: 0;
    right: auto;
}

.bar {
    position: relative;
    display: inline-block;
    width: 5px;
    vertical-align: bottom;
    z-index: 0;
}
.bar-precip {
    background-color: blue;
    border-top: 1px solid #0000aa;
}
.bar-precip-snow {
    background-color: dodgerblue;
    border-top: 1px solid skyblue;
}
.bar-precip-freezing {
    background-color: black;
    border-top: 1px solid #2a2a2a;
}
.bar-precip-bw {
    background-color: white !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAMAAABh9kWNAAAADFBMVEUAAAAAAAAAAAD///81VxGEAAAAAnRSTlMA/MKYcw8AAAAQSURBVAjXY2BgYGJgYASTAAAqAAZOaveNAAAAAElFTkSuQmCC) repeat;
    outline: black solid 1px;
    border-top: none !important;
}
.bar-temp-bw {
    background-color: white !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAQAAADYv8WvAAAADklEQVQI12Ng+M8ABv8BCQEB//G4bcoAAAAASUVORK5CYII=) repeat;
    outline: black solid 1px;
    border-top: none !important;
}
.bar-humid-bw {
    background-color: white !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAMAAABh9kWNAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAA5JREFUCNdjYGQAAggBAAAeAAQUtVXfAAAAAElFTkSuQmCC) repeat;
    outline: black solid 1px;
    border-top: none !important;
}
.bar-cloud-bw {
    background-color: white !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAD0lEQVQImWNgwAL+Y4gAABIVAQDGiCc/AAAAAElFTkSuQmCC) repeat;
    outline: black solid 1px;
}
.bar-temp {
    margin-right: 1px;
    background-color: red;
    border-top: 1px solid #aa0000;
}
.bar-humidity {
    background-color: magenta;
    border-top: 1px solid #AA00AA;
}
.bar-cloud {
    margin-right: 1px;
    background-color: white;
    outline: 1px dotted white;
    width: 3px;
    border-left:1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}
.bar-windchill {
    background-color: darkred;
    border-top: 1px solid #550000;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3px;
}
.bar-dewpoint {
    background-color: lime;
    border-top: 1px solid green;
    position: absolute;
    left: 0;
    bottom: 0;
}
.bar-windgust {
    width: 3px;
    /*background-color: #a020f0;*/
    background-color: yellow;
    border-top: 1px solid LemonChiffon;
    position: absolute;
    left: 0;
    bottom: 0;
}
.bar:hover {
    outline: 1px dotted black;
    z-index:1;
}
.text {
    width: 263px;
    border: 1px solid #aeaeae;
    text-align:right;
    line-height: 0;
}
.textLeft {
    text-align:left;
}

.bar-text {
    display: inline-block;
    width: 10px;
    margin-right: 1px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}
.bar-text-vertical {
    height: 50px;
    width: 15px;
    display: inline-block;
    vertical-align:top;
}
.bar-text-vert {
    width: 15px;
    height: 5px;
}
.bar-text-image {
    display:table-row;
}
.bar-temp:last-child, .bar-text:last-child, .bar-humidity:last-child, .bar-cloud:last-child{
    margin-right:0px;
}
.bar-hidden {
    visibility: hidden;
    margin-left: -5px;
}
@media only screen and (min-width:700px) {
    html {
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
    }
}

@media only screen and (max-width:700px) {
    html {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left:2pt;
	padding-right:2pt;
    }
    .content {
	padding-right: 15px;
	padding-left: 15px;
    }
}
